# Ignore Python virtual environments
env/
venv/
.myenv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db



node_modules/
