{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polysphere puzzle</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">

    <h1>Polysphere puzzle</h1>

    <p>Drag and drop the pieces to the board to solve the puzzle.</p>
    <p>Alt - flip and Shift - rotation, just put mouse on or drag it</p>

    <div class="pieces-holder">
        <!-- Pieces will be added here -->
    </div>

    <div id="board">

    </div>

    <div class="solution-changer">
        <button id="prev">
            <img src="{% static 'svg/next.svg' %}" height="25px" id="prev-img" alt="next"></img>
        </button>
        <span id="solution">1</span>
        <button id="next">
            <img src="{% static 'svg/next.svg' %}" height="25px" id="next-img" alt="next"></img>
        </button>
    </div>

    <div class="controls">
        <button id="reset">Reset</button>
        <button id="solve">Solve</button>
    </div>


    <script>
        // loads pieces
        let piecesHolder = document.querySelector('.pieces-holder');

        for (let i = 0; i < 12; i++) {
            let piece = document.createElement('div');
            piece.classList.add('piece');
            piece.style.width = '100px';
            piece.style.height = '100px';
            piece.style.transform = 'rotate(0deg)';
            piece.dataset.shape = i+1;
            piece.dataset.rotation = 0;
            piece.dataset.mirrored = 0;
            piece.id = "piece" + (i+1);

            piece.draggable = true;

            let img = document.createElement('img');
            img.src = `{% static 'svg/' %}${i+1}.svg`;
            img.style.width = '100%';
            img.style.height = '100%';
            img.style.pointerEvents = 'none';
            piece.appendChild(img);

            piecesHolder.appendChild(piece);
        }
    </script>

    <script>
        //sets the board
        let board = document.getElementById('board');
        for (let i = 0; i < 55; i++) {
            let cell = document.createElement('div');
            cell.classList.add('cell');
            cell.id = i;
            board.appendChild(cell);
        }
    </script>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/connection.js' %}"></script>

</div>

</body>
</html>